{% extends 'writus.layout.twig' %}

{% block content %}

    <article id="about">
        <header class="post-header">
            <h3 class="post-title">About</h3>
        </header>
        
        <section class="post-content">
            {{ blog.about }}
        </section>
        
       
    </article>


{% endblock %}   

